html, body {
	padding: 0;
	margin: 0;
}

#boardWrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.grid {
	border: solid black 2px;
	border-spacing: 0;
	/* inner borders */
	border-collapse: collapse;
}

.grid td {
	border: solid gray 1px;
}